html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: LeagueGothic; src: url(../fonts/LeagueGothic-Regular.otf); }

body { font-family: "LeagueGothic"; }

a { text-decoration: none; -webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; }
a:hover { text-decoration: underline; }

.h3 { color: #454545; font-size: 30px; line-height: 34px; text-shadow: 0 1px 0 white; font-weight: normal; margin-bottom: 7px; }
.h3 a { text-decoration: none; color: #edbfff; }

.h4 { color: #454545; font-family: "OpenSans", sans-serif; font-size: 16px; line-height: 18px; font-weight: bold; text-shadow: 0 1px 0 white; font-weight: bold; }

.text { color: #454545; font-family: "OpenSans", sans-serif; font-size: 16px; line-height: 24px; text-shadow: 0 1px 0 white; }

.container { width: 960px; margin: 0 auto; *zoom: 1; }
.container:after { content: " "; display: table; clear: both; }

.col { float: left; width: 30%; margin-left: 5%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.col:first-child { margin-left: 0; }
@media only screen and (max-width: 991px) { .col { margin-left: 3.3%; } }

/*-----header--------------------------------------- */
.header { background: #af9fb1 url(../img/bg.jpg) no-repeat; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; border-bottom: 1px solid #33253a; padding-bottom: 169px; }
@media only screen and (max-width: 991px) { .header { padding-bottom: 155px; } }

.navbar { *zoom: 1; padding-top: 70px; }
.navbar:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 991px) { .navbar { padding-left: 14px; } }

.navbar__left { float: left; margin-bottom: 29px; }
@media only screen and (max-width: 991px) { .navbar__left { float: none; padding-left: 5px; } }

.navbar__right { float: right; }
@media only screen and (max-width: 991px) { .navbar__right { float: none; } }

/*-----about----------------------------------------- */
.about { *zoom: 1; background: #593e64; -webkit-box-shadow: inset 0px -1px 0px 0px #f9f9f9, inset 0px -2px 0px 0px #0d151b, inset 0px -3px 0px 1px #322539; -moz-box-shadow: inset 0px -1px 0px 0px #f9f9f9, inset 0px -2px 0px 0px #0d151b, inset 0px -3px 0px 1px #322539; box-shadow: inset 0px -1px 0px 0px #f9f9f9, inset 0px -2px 0px 0px #0d151b, inset 0px -3px 0px 1px #322539; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #312539), color-stop(100%, #745083)); background-image: -webkit-linear-gradient(bottom, #312539 0%, #745083 100%); background-image: -moz-linear-gradient(bottom, #312539 0%, #745083 100%); background-image: -o-linear-gradient(bottom, #312539 0%, #745083 100%); background-image: linear-gradient(bottom, #312539 0%, #745083 100%); padding: 76px 0 70px; }
.about:after { content: " "; display: table; clear: both; }

.about__col-set { background: url(../img/icons/i-set.png) no-repeat; }

.about__col-chat { background: url(../img/icons/i-chat.png) no-repeat; }

.about__col-music { background: url(../img/icons/i-music.png) no-repeat; }

.about__col { padding-left: 63px; background-position: 10px 6px; }
@media only screen and (max-width: 991px) { .about__col { padding-left: 83px; background-position: 30px 2px; } }

.about__title { color: white; font-size: 30px; line-height: 30px; text-shadow: 0 1px 0 #0e1418; margin-bottom: 8px; }
@media only screen and (max-width: 991px) { .about__title { font-size: 24px; line-height: 24px; margin-bottom: 4px; } }

.about__text { color: white; font-family: "OpenSans", sans-serif; font-size: 16px; line-height: 24px; text-shadow: 0 1px 0 #0e1418; margin-bottom: 20px; overflow: hidden; max-height: 119px; }
@media only screen and (max-width: 991px) { .about__text { max-height: 145px; overflow: hidden; margin-bottom: 6px; } }

.about__link { color: white; font-size: 18px; line-height: 18px; text-decoration: none; text-align: right; display: block; margin-left: 9px; }
.about__link:hover { text-decoration: none; text-shadow: 0 0 8px rgba(255, 255, 255, 0.8); }

/*-----news------------------------------------------------ */
.news { -webkit-box-shadow: inset 0px 5px 10px 0px lightgrey; -moz-box-shadow: inset 0px 5px 10px 0px lightgrey; box-shadow: inset 0px 5px 10px 0px lightgrey; padding: 99px 0 85px; background: #f9f9f9; *zoom: 1; border-bottom: 1px solid #e6e6e6; }
.news:after { content: " "; display: table; clear: both; }

.news__col { float: left; width: 47%; margin-left: 6%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: inline-block; *zoom: 1; }
.news__col:after { content: " "; display: table; clear: both; }
.news__col:first-child { margin-left: 0; }

/*-----updates---------------------------------------------- */
.updates { padding: 27px 0px 0px 2px; }
@media only screen and (max-width: 991px) { .updates { padding-left: 7px; } }
.updates .h3 { margin-bottom: 14px; }
.updates .h4 { display: block; margin-bottom: 2px; }

.updates__roll { position: relative; margin-bottom: 18px; }

.updates__link { display: block; text-align: right; color: #454545; font-size: 19px; line-height: 28px; padding-right: 20px; text-shadow: 0 1px 0 white; }

.updates__right { display: inline-block; vertical-align: top; padding: 4px 0 0 67px; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.updates__right .text { white-space: nowrap; overflow: hidden; text-overflow: wrap; width: 100%; }
@media only screen and (max-width: 991px) { .updates__right .text { max-width: 250px; } }

/*----article-------------------------------------- */
.article { background: #ececec; border-top: 1px solid #d8d8d8; padding: 94px 0 94px; }
.article .logo-art { margin-bottom: 12px; }
@media only screen and (max-width: 991px) { .article .logo-art { display: none; } }
.article .copyright { margin-bottom: 10px; }
@media only screen and (max-width: 991px) { .article .copyright { display: none; } }
.article .h3 { margin-bottom: 6px; display: block; }
@media only screen and (max-width: 991px) { .article .h3 { font-size: 24px; line-height: 34px; } }
@media only screen and (max-width: 991px) { .article .text { overflow: hidden; height: 168px; } }
.article .col { overflow: hidden; max-height: 208px; }
@media only screen and (max-width: 991px) { .article .col { padding-left: 19px; max-height: 100%; } }

/*-----icons---------------------------------- */
.icons { border-top: 1px solid #fefefe; border-bottom: 1px solid #fefefe; background: #f9f9f9; padding: 24px 0 29px; }

.icons-in { text-align: center; }
.icons-in .ico { vertical-align: middle; margin: 0 3.5%; }
@media only screen and (max-width: 991px) { .icons-in .ico { margin: 0 3.4%; } }

/*-----footer------------------------------- */
.footer { *zoom: 1; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; background: url(../img/bg-footer.jpg); padding: 46px 0 47px; -webkit-box-shadow: inset 0px 3px 6px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow: inset 0px 3px 6px 0px rgba(0, 0, 0, 0.5); box-shadow: inset 0px 3px 6px 0px rgba(0, 0, 0, 0.5); }
.footer:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 991px) { .footer { padding-bottom: 85px; } }

.footer__left { float: left; }
@media only screen and (max-width: 991px) { .footer__left { float: none; margin-left: 18px; margin-bottom: 29px; } }

.footer__right { float: right; }
@media only screen and (max-width: 991px) { .footer__right { margin-right: 20px; } }

/*-----design----- */
.design { color: white; font-family: "OpenSans", sans-serif; font-size: 12px; text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4); display: inline-block; vertical-align: -3px; }
.design a { color: white; font-weight: bold; }
.design a:hover { text-shadow: 0 0 8px rgba(255, 255, 255, 0.8); text-decoration: none; }
.design a:active { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }

/*-----author----- */
.author { overflow: hidden; background: #bbbbbb; -webkit-box-shadow: 1px 2px 0 white, inset 1px 2px 5px rgba(0, 0, 0, 0.3); -moz-box-shadow: 1px 2px 0 white, inset 1px 2px 5px rgba(0, 0, 0, 0.3); box-shadow: 1px 2px 0 white, inset 1px 2px 5px rgba(0, 0, 0, 0.3); height: 48px; line-height: 48px; width: 48px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; display: inline-block; text-align: center; }
.author img { max-height: 100%; width: 100%; }

.author-news { position: absolute; top: -9px; left: -62px; }

.author-updates { position: absolute; top: 0px; left: 0px; }

/*-----logo----- */
.logo { background: url(../img/logo.png) no-repeat; display: inline-block; height: 39px; width: 152px; font: 0/0 a; text-shadow: none; color: transparent; vertical-align: top; }

/*-----copyright----- */
.copyright { color: #c5c5c5; font-family: "Georgia"; font-size: 16px; line-height: 18px; font-style: italic; text-shadow: 0 1px 0 white; }

/*----logo----- */
.logo { background: url(../img/logo.png) no-repeat; display: inline-block; height: 39px; width: 152px; font: 0/0 a; text-shadow: none; color: transparent; vertical-align: top; }

.logo-art { color: #454545; font-size: 48px; line-height: 48px; display: inline-block; text-shadow: 0 1px 0 white; }
.logo-art span { color: #b8b8b8; }
.logo-art:hover { text-decoration: none; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }
.logo-art:active { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }

/*-----nav----- */
.nav { *zoom: 1; }
.nav:after { content: " "; display: table; clear: both; }
.nav li { float: left; margin-left: 43px; }
.nav li:first-child { margin-left: 0; }
.nav a { padding: 0 5px; text-decoration: none; color: white; font-family: "LeagueGothic"; font-size: 24px; line-height: 32px; text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4); vertical-align: bottom; -webkit-transition: 0.2s; -moz-transition: 0.2s; -o-transition: 0.2s; transition: 0.2s; font-stretch: condensed; }
.nav a:hover { text-shadow: 0 0 8px rgba(255, 255, 255, 0.8); }
.nav a:active { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }
.nav .is-active a { border-bottom: 2px solid #edbfff; }

.nav-small li:first-child { margin-left: 0; }
.nav-small a { padding: 0; font-size: 20px; line-height: 20px; }

/*-----slider---------------------------- */
.slider { background: rgba(0, 0, 0, 0.2); margin-top: 140px; position: relative; }
@media only screen and (max-width: 991px) { .slider { margin-top: 73px; } }
.slider .slider__prev, .slider .slider__next { position: absolute; top: 50%; cursor: pointer; z-index: 111; }
@media only screen and (max-width: 991px) { .slider .slider__prev, .slider .slider__next { top: 45%; } }
.slider .slider__prev { left: 5%; background: url('../img/icons-s9cff415a6f.png') 0 -494px no-repeat; width: 30px; height: 42px; }
@media only screen and (max-width: 991px) { .slider .slider__prev { left: 10%; } }
.slider .slider__next { right: 5%; background: url('../img/icons-s9cff415a6f.png') 0 -546px no-repeat; width: 30px; height: 42px; }
@media only screen and (max-width: 991px) { .slider .slider__next { right: 10%; } }

.slider__item { display: inline-block; width: 100%; padding-bottom: 55px; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }

.slider__content { *zoom: 1; margin: 0 auto; }
.slider__content:after { content: " "; display: table; clear: both; }
.slider__content .i-book { display: block; margin: 0 auto 0px; }

.slider__left { float: left; width: 53%; color: #fefefe; font-size: 60px; text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); padding-top: 78px; overflow: hidden; }
@media only screen and (max-width: 991px) { .slider__left { padding: 98px 0 0 43px; width: 35.5%; } }

.slider__headline { font-size: 60px; line-height: 60px; white-space: nowrap; overflow: hidden; text-overflow: clip; }
@media only screen and (max-width: 991px) { .slider__headline { font-size: 48px; line-height: 48px; } }

.slider__title { font-size: 32px; line-height: 30px; color: #edbfff; margin-bottom: 7px; white-space: nowrap; overflow: hidden; text-overflow: clip; }
@media only screen and (max-width: 991px) { .slider__title { font-size: 24px; line-height: 39px; margin-bottom: 0; } }

.slider__text { font-size: 20px; line-height: 24px; font-family: "Myriad Pro"; overflow: hidden; max-height: 170px; }
@media only screen and (max-width: 991px) { .slider__text { font-size: 18px; line-height: 26px; overflow: hidden; height: 110px; } }

.slider__right { float: right; width: 43%; text-align: center; height: 344px; line-height: 344px; }
@media only screen and (max-width: 991px) { .slider__right { width: 48%; } }

.slider__img { margin-top: -17px; text-align: center; max-width: 100%; vertical-align: middle; }
@media only screen and (max-width: 991px) { .slider__img { margin-top: -23px; } }

.slider__pager { position: absolute; bottom: -109px; left: 68.5%; z-index: 111; }
@media only screen and (max-width: 991px) { .slider__pager { bottom: -54px; left: 66.5%; } }
.slider__pager span { margin-right: 7px; display: inline-block; width: 15px; height: 15px; background: #41424b; background: rgba(0, 0, 0, 0.3); -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; font-size: 0; cursor: pointer; }
.slider__pager span.cycle-pager-active, .slider__pager span:hover, .slider__pager span:active { position: relative; }
.slider__pager span.cycle-pager-active:after, .slider__pager span:hover:after, .slider__pager span:active:after { position: absolute; top: 2px; left: 2px; content: ""; display: inline-block; height: 11px; width: 11px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: white; }
.slider__pager span:hover:after { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40); opacity: 0.4; }
.slider__pager span:active:after { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }

/*-----slider-mini----- */
.slider-mini { position: relative; display: inline-block; background: white; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); margin-left: 24px; padding: 27px 39px 36px; position: relative; *zoom: 1; }
@media only screen and (max-width: 991px) { .slider-mini { margin-left: 42px; padding: 27px 25px 41px 40px; }
  .slider-mini .h3 { font-size: 24px; line-height: 26px; } }
.slider-mini:after { content: ""; position: absolute; bottom: -19px; right: 41px; display: inline-block; width: 0px; height: 0px; border-style: solid; border-width: 0 19px 19px 0; border-color: transparent white transparent transparent; }
@media only screen and (max-width: 991px) { .slider-mini:after { visibility: hidden; } }
.slider-mini:before { content: ""; position: absolute; bottom: -21px; right: 39px; display: inline-block; width: 0px; height: 0px; border-style: solid; border-width: 0 21px 21px 0; border-color: transparent rgba(0, 0, 0, 0.05) transparent transparent; }
@media only screen and (max-width: 991px) { .slider-mini:before { visibility: hidden; } }
.slider-mini:after { content: " "; display: table; clear: both; }
.slider-mini .text { overflow: hidden; height: 168px; }
@media only screen and (max-width: 991px) { .slider-mini .text { height: 145px; } }

.slider-mini__content { *zoom: 1; }
.slider-mini__content:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 991px) { .slider-mini__content .h3 > a { display: block; } }

.slider-mini__pager { bottom: -40px; left: 40.5%; }
@media only screen and (max-width: 991px) { .slider-mini__pager { bottom: -40px; left: 36.5%; } }
.slider-mini__pager span { background: white; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #f0f0f0; }
@media only screen and (max-width: 991px) { .slider-mini__pager span { height: 17px; width: 17px; margin-right: 5px; } }
.slider-mini__pager span.cycle-pager-active:after, .slider-mini__pager span:hover:after, .slider-mini__pager span:active:after { top: 1px; left: 1px; border: 1px solid #454545; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #454545), color-stop(100%, #6a6a6a)); background-image: -webkit-linear-gradient(bottom, #454545 0%, #6a6a6a 100%); background-image: -moz-linear-gradient(bottom, #454545 0%, #6a6a6a 100%); background-image: -o-linear-gradient(bottom, #454545 0%, #6a6a6a 100%); background-image: linear-gradient(bottom, #454545 0%, #6a6a6a 100%); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 991px) { .slider-mini__pager span.cycle-pager-active:after, .slider-mini__pager span:hover:after, .slider-mini__pager span:active:after { top: 2px; left: 2px; } }

/*-----ico----------------------------------------------------- */
.ico { display: inline-block; }

.i-play { position: absolute; top: 132px; left: 71.5%; z-index: 199999; background: url('../img/icons-s9cff415a6f.png') 0 -75px no-repeat; width: 76px; height: 76px; cursor: pointer; }
@media only screen and (max-width: 991px) { .i-play { top: 126px; left: 70.5%; } }

.ico-1 { background: url('../img/icons-s9cff415a6f.png') 0 -236px no-repeat; width: 69px; height: 65px; }

.ico-2 { background: url('../img/icons-s9cff415a6f.png') 0 -419px no-repeat; width: 72px; height: 65px; }

.ico-3 { background: url('../img/icons-s9cff415a6f.png') 0 -161px no-repeat; width: 65px; height: 65px; }

.ico-4 { background: url('../img/icons-s9cff415a6f.png') 0 -311px no-repeat; width: 50px; height: 65px; }

.ico-5 { background: url('../img/icons-s9cff415a6f.png') 0 -386px no-repeat; width: 105px; height: 23px; }

.ico-6 { background: url('../img/icons-s9cff415a6f.png') 0 0 no-repeat; width: 78px; height: 65px; }

.container .w991 { display: none; }
@media only screen and (max-width: 991px) { .container .w991 { display: block; } }

/*----------------768px------------------------------------------------- */
@media only screen and (max-width: 991px) { .container { width: 768px; } }
@media only screen and (max-width: 767px) { .container { width: 480px; } }
@media only screen and (max-width: 479px) { .container { width: 320px; } }

/*----------------768px------------------------------------------------- */
@media (max-width: 991px) { .one { background: magenta; } }
/*-----------------480px------------------------------------------------ */
@media (max-width: 767px) { .one { background: red; } }
/*------------------320px----------------------------------------------- */
@media (max-width: 479px) { .one { background: blue; } }
@media only screen and (max-width: 991px) { .two { background: magenta; } }

@media only screen and (max-width: 767px) { .two { background: red; } }

@media only screen and (max-width: 479px) { .two { background: blue; } }

.lteie8 { font-family: "Myriad Pro"; }
.lteie8 .nav li { margin-left: 20px; }
